html[data-theme="light"] {
  --background-color: #f7f8f8;
  --background-color-header: #0bceaf;
  --text-color: #121416d8;
  --nav-border: #0000001a;
  --nav-icon: url(../img/svg/menu-burger.svg);
}

html[data-theme="dark"] {
  --background-color: #343a40;
  --text-color: #f7f8f8;
  --text-nav: #f7f8f8;
  --nav-border: #ffffff1a;
  --nav-icon: url(../img/svg/menu-burger-dark.svg);
}

.body {
  background: var(--background-color);
  color: var(--text-color);
}

header,
footer {
  background: var(--background-color-header);
}

.navbar {
  background: var(--background-color);
  color: var(--text-header);
}

.toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-icon .navbar-toggler {
  border-color: var(--nav-border);
}

.navbar-icon .toggler-icon {
  background-image: var(--nav-icon);
}

a {
  color: var(--text-nav);
  font-weight: 500;
}

.darkMode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: 1em;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
